
.BindQRBox {
	display: none;
}

.keyboard {
	display: none
}

.navigationPicture {
    position: absolute !important;
    top: 49vh;
    left: 9.75vw;
    width: 80.5vw;
    height: 33.5vh;
    background: none repeat scroll 0% 0% rgb(133, 143, 149);
}



.resultPanelButton {
	font-size: 1vh !important;
}
