/** Add css rules here for your application. */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(fonts/OpenSans-Regular.ttf);
}

html{
		padding:0;
		margin:0;
		background-color:#d6dadc;
		color:#e2001a;
		font-size:1vh;
	}
	body{
		padding:0;
		margin:0;
		overflow:hidden;
		font-size: 1.3rem;
	}
	*{
		font-family: 'Open Sans', sans-serif;
	}

.page{
	
	  position:absolute;
	   overflow:hidden;
	   top:0px;
	    left:0px;
	   bottom:0px;
	    right:0px;
	   height:100vh;
	    width:100vw;
	    background:#d6dadc;
	
}

.header{
		height:6.25vh;
		width:100vw;
		background-color:#e2001a;
		color:#ffffff;
		padding:0;
		margin:0;
		position:absolute;
		top:0;
		left:0;
		border-bottom: solid 0.1vh #000000;
		box-shadow:0 0 0.1vh #ffffff;
	}
.subHeader{
	position:absolute;
	top: 6.25vh;
	width:100vw;
	height:3vh;
	background-color:#ffffff;
	color:#000000;
}
	.header h1{
		padding:0;
		margin:0;
		font-size:4.25vh;
		line-height:6.25vh;
		text-align:center;
		position:absolute;
		top:0;
		left:5vw;
		width:90vw;
		text-shadow:0 0 0.1vh #000000;
	}
	.header button{
		position:absolute;
		font-size:5.6vh;
		line-height:5.6vh;
		width:5.6vh;
		text-align:center;
		padding:0;
		margin:0;
		top:0.2vh;
		background-color:#e2001a;
		color:#ffffff;
		border: none;
		text-shadow:0 0 0.1vh #000000;
		font-family: 'Open Sans', sans-serif;
	}
	.header .menu{
		left:1.8vw;
	}

nav{
		position:absolute;
		bottom:6.75vh;
		left:5vw;
		right:5vw;
		top:6.75vh;
		width:90vw;
		color:#d6dadc;
		padding: 0;
		margin: 0;
	}
	nav ul{
		clear: both;
		padding: 0;
		margin: 0.5vh 0.5vh;
		width:calc(90vw-1vh);
		height:80vh;
	}
	nav ul li{
		display: block;
		list-style-type: none;
		padding: 0;
		margin: 0.3vh;
		width: 31.2%;
		height: 31.2%;
		background-color:#e2001a;
		color:#ffffff;
		float:left;
		position:relative;
		overflow:hidden;
		opacity:1.0;
		border:solid 0.1vh #000000;
		box-shadow: 0 0 0.1vh #ffffff;
	}
	
	nav ul li:hover,nav ul li:active{
		opacity:0.8;
		border:solid 0.1vh #ffffff;
		box-shadow: 0 0 0.1vh #000000;
	}
	nav ul li:nth-of-type(3n+1){
		color:#ffffff;
		background-color:#858f95;
		text-shadow:0 0 0.1vh #000000;
	}
	nav ul li:nth-of-type(3n+2){
		color:#000000;
		background-color:#aeb4b8;
		text-shadow:0 0 0.1vh #ffffff;
	}
	nav ul li:nth-of-type(3n+3){
		color:#ffffff;
		background-color:#5c6971;
		text-shadow:0 0 0.1vh #000000;
	}
	nav ul li.big{
		width:95.9%;
		height: 31.2%;
		padding-left:0.3vh;
		padding-right:0.3vh;
		clear:both;
	}
	nav ul li.medium{
		width:47.9%;
		height: 31.2%;
	}
	nav ul li.small{
		width:47.9%;
		height: 15.146%;
	}
	nav ul li.medium+li.medium+li,nav ul li.medium+li.small+li.small+li{
		clear:both;
	}
	
	nav ul li i{
		width:100%;
		text-align:center;
		position:absolute;
		top:2vh;
		line-height:20vh;
		font-size:15vh;
	}
	nav ul li.small i{
		line-height:5vh;
		font-size:5vh;
	}
	
	nav ul li span{
		display:block;
		position:absolute;
		bottom:2vh;
		width:100%;
		text-align:center;
		line-height:5vh;
		font-size:5vh;
	}
	nav ul li.small span{
		line-height:2.5vh;
		font-size:2.5vh;
	}


.footer{
		height:6vh;
		width:100vw;
		background-color:#000000;
		color:#d6dadc;
		padding:0;
		margin:0;
		position:absolute;
		bottom:0;
		left:0;
		border-top: solid 0.1vh #000000;
		box-shadow:0 0 0.1vh #ffffff;
	}

.footer button{
		margin: 1vh 1vh;
		height:4vh;
		width: 30vw;
		padding:0.5vh;
		background:#000000;
		color:#ffffff;
		border:solid 1px #5c6971;
		font-size:2vh;
		text-align:left;
		display:inline-block;
		font-family: 'Open Sans', sans-serif;
	}
	

.searchField{
	position:absolute;
	bottom:17vh;
	left:1vw;
	rigth:1vw;
	width:86vw;
	height:4vh;
	padding:0px;
}
.organigramBtn{
	position:absolute;
	bottom:37vh;
	left:30vw;
	rigth:25vw;
	width:40vw;
	height:5.25vh;
	margin:0;
	padding: 1vh 5vw;
	background:#e2001a;
	color:#ffffff;
	border:solid 1px #5c6971;
	font-size:2vh;
	text-align:left;
	display:inline-block;
	font-family: 'Open Sans', sans-serif;	
}
.results, .infos, .personInfos, .personCourses, .personLectureRooms, .poiResults{
	position:absolute;
	top:8vh;
	left:1vw;
	width:86vw;
	height:18vh;
	
	border-spacing: 0;
}
.results td{
	border: solid 1px transparent;
}

.poiResults {
	height:11vh;
}

.keyboard {
	position:absolute !important;
	bottom:0.5625vh;
	left:1vw;
	width:86vw;
	height:15.7vh;
}

.keyboardButton, .keyboardSpace, .keyboardReturn, .keyboardButtonClicked  {
	width: 7vw;
	height: 3vh;
	font-size: 1.5vh;
	padding: 0px;
	margin: 0.08vh 0.1vw;
	background:#5c6971;
	color:#ffffff;
	border:0px solid #bbb;
  	border-bottom: 0px solid #a0a0a0;
 	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.keyboardSpace {
	width: 58vw;
	height: 3vh;
	font-size: 1.5vh;
}

.keyboardReturn {
	width: 10vw;
	height: 3vh;
	font-size: 1.5vh;
}

.keyboardRow {
	height: 2,6vh;
}

.keyboardRowOne {
	margin-left: 1.9vw;
}

.keyboardRowTwo {
	margin-left: 4vw;
}

.keyboardRowThree {
	margin-left: 5vw;
}

.keyboardRowFour {
	margin-left: 6.5vw;
}
.keyboardRowFive {
	margin-left: 13vw;
}

.keyboardButtonClicked{
	background:#aeb4b8;
}

.resultBtns {
	position:absolute;
	bottom:7vh;
	left:5vw;
}
.tileContainer{
	position:absolute;
	top:60vh;
	bottom:8vh;
	left:5vw;
	right:5vw;
	width:90vw;
	height:32vh;
}
.tile{
	display: block;
	padding: 0;
	margin: 1%;
	width: 48%;
	height: 48%;
	background-color:#e2001a;
	color:#ffffff;
	float:left;
	position:relative;
	overflow:hidden;
	opacity:1.0;
	border:solid 0.1vh #000000;
	box-shadow: 0 0 0.1vh #ffffff;
}
.tile:nth-of-type(3n+1){
		color:#ffffff;
		background-color:#858f95;
		text-shadow:0 0 0.1vh #000000;
	}
.tile:nth-of-type(3n+2){
		color:#000000;
		background-color:#aeb4b8;
		text-shadow:0 0 0.1vh #ffffff;
	}
.tile:nth-of-type(3n+3){
		color:#ffffff;
		background-color:#5c6971;
		text-shadow:0 0 0.1vh #000000;
	}
.tile i{
		width:100%;
		text-align:center;
		position:absolute;
		top:2vh;
		line-height:20vh;
		font-size:15vh;
	}
	
.tile span{
		display:block;
		position:absolute;
		bottom:2vh;
		width:100%;
		text-align:center;
		line-height:5vh;
		font-size:5vh;
	}
.tile:hover,.tile:active{
		opacity:0.8;
		border:solid 0.1vh #ffffff;
		box-shadow: 0 0 0.1vh #000000;
	}
	
.qrBox, .personQRBox, .poiQrBox{
	position:absolute;
	top: 45vh;
	left:5vw;
	right:5vw;
	width:89vw;
	height:10vh;
	background: #ffffff;
}

.personQRBox {
	top: 37vh;
}

.poiQrBox {
	top: 37vh;
}

.qrLabelImg,.qrCode{
	float:right;
	width:8vh;
	height:8vh;
	margin:1vh;
}
.qrCode{
	margin:0px;
	width: 10vh;
	height: 10vh;
}
.qrCode img{
	margin: 1vh;
	width:8vh;
	height: 8vh;
}
.qrLabel{
	margin: 1vh;
	font-weight: bold;
}
.resultLabel{
	display:block;
	position:absolute;
	top: 1vh;
	height: 6vh;
	left:1vw;
	right:1vw;
	width:76vw;
	padding:0px 5vw;
	background: #5c6971;
	font-size:3vh;
	line-height:6vh;
	color:#ffffff;
}
.resultPanel,.searchPanel, .infoPanel, .roomPanel, .personInfoPanel, .personBottomPanel, .personMiddlePanel, .poiResultsPanel, .poiBottomResultPanel{
	position: absolute;
	top: 11vh;
	left:5.5vw;
	right:5vw;
	width:88vw;
	height:28vh;
	border-left: solid 0.5vw #ffffff;
	border-left-width: 0.5em;
	font-size:1vw;
	border-right: solid 0.5vw #ffffff;
	border-right-width: 0.5em;
	border-top: solid 0.25vh #ffffff;
	border-top-width: 0.44em;
	border-bottom: solid 0.25vh #ffffff;
	border-bottom-width: 0.44em;
}

.poiBottomResultPanel {
	top: auto;
	bottom: 7vh;
	left:16.5vw;
	width:66vw;
	height:5vh;
}

.poiResultsPanel {
	height:19.5vh;
}

.personInfoPanel {
	height:25vh;
	top: 10vh;
}
.searchPanel{
	top:auto;
	bottom:12vh;
	height:21.7vh;
	width:88.2vw;
	left:5,9vw;
}

.pictureButton{
	height: 5vh;
	width: 10vh;
	position:relative;
	background: #d6dadc;
	border:none !important;
}
.pictureButton .number{
	position:absolute;
	height: 5vh;
	width:4vh;
	top:0px;
	left:0px;
	border-right:solid 1rem #ffffff;
	background: #5c6971;
	color: #ffffff;
	line-height: 5vh;
	font-size: 2.5vh;
	font-weight: bold;
}
.pictureButton .img, .poiRightNav, .poiLeftNav, .poiBottomRightNav, .poiBottomLeftNav{
	position:absolute;
	height: 5vh;
	width:5vh;
	top:0px;
	left:5vh;
	background: #e2001a;
}
.resultButton{
	height: 5vh;
	width: 42vw;
	position:relative;
	background: #d6dadc;
	margin:0px;
	border:none !important;
}
.resultButton span{
	position:absolute;
	display:block;
	top:0px;
	left:17.5vw;
	width: 24.5vw;
	height:5vh;
	line-height: 2.5vh;
	font-size:2vh;
	background: #aeb4b8;
	color:#ffffff;
	
}
.resultButton .pictureButton{
	position:absolute;
	top:0px;
	left:0px;
	border:none;
}
.poiRightNav, .poiLeftNav, .poiBottomRightNav, .poiBottomLeftNav {
	top: 32vh;
	left: 30vw;
	height: 4vh;
}
.poiRightNav{
	left: 60vw;
}
.poiBottomRightNav {
	right: 7.5vw;
	left: auto;
}
.poiBottomLeftNav {
	left: 7.5vw;
}

.poiBottomRightNav, .poiBottomLeftNav {
	top: auto;
	bottom: 7.5vh;
}
.resultBtns .pictureButton{
	height: 3vh;
	width: 6vh;
	margin-right: 1.25vh;
	margin-left: 1.25vh;
}
.resultBtns .pictureButton .img{
	height: 3vh;
	width: 3vh;
	left:3vh;
}
.resultBtns .pictureButton .number{
	height: 3vh;
	width:2.4vh;
	border-right:solid 0.6rem #ffffff;
	line-height: 3vh;
	font-size: 1.5vh;
}

.infoPanel {
	height:29vh;
}
.roomPanel, .personBottomPanel {
	top: auto;
	bottom: 7vh;
	height:5.5vh;
}

.personBottomPanel {
	bottom: 6.5vh;
}
.personMiddlePanel {
	top: 48vh;
	bottom: auto;
	height:38vh;
}
.poiPage {
	display:block;
	position:absolute;
	top: 32vh;
	height: 4vh;
	left:40vw;
	right:1vw;
	width:11vw;
	padding:0px 2vw;
	background: #AEB4B8;
	font-size:2vh;
	line-height:5vh;
	color:#ffffff;
}
.infoLabel, .personInfoLabel, .personAppointmentLabel, .personCourseLabel, .personCourseOfStudyLabel, .personCourseOfStudyInfo, .poiResultsLabel, .currentPoiLabel{
	display:block;
	position:absolute;
	top: 1vh;
	height: 6vh;
	left:1vw;
	right:1vw;
	width:76vw;
	padding:0px 5vw;
	background: #5c6971;
	font-size:3vh;
	line-height:6vh;
	color:#ffffff;
}
.currentPoiLabel {
	top: 48vh;
	left:7.5vw;
	height: 4.5vh;
	width:75.5vw;
}
.personCourseOfStudyLabel , .personCourseOfStudyInfo{
	width: 16vw;
	height: 5vh;
	top: 0.5vh;
}

.personCourseOfStudyInfo {
	left:27.5vw;
	width: 49.5vw;
	background: #aeb4b8;
}

.personInfoLabel {
	top: 0.5vh;	
	height: 5vh;
}

.personAppointmentLabel {
	top: 6vh;
	height: 4.5vh;
}

.personCourseLabel {
	top: auto;
	bottom: 9vh;
	height: 4.5vh;
}
.infos{
	top:7vh;
}
.infos td{
	border: solid 1px transparent;
}

.personInfos {
	top: 4vh;
	left: 27vw;
}

.personCourses {
	top: auto;
	bottom: 2vh;
	height: 9vh;
	left: 4vw;
	width: 83vw;
}
.personLectureRooms {
	position: absoute;
	left: 60vw;
	top: 8.5vh;
	width: 33vw;
	height: 13.5vh;
}
.infos .iconButton {
	width: 86vw;
}
.personInfos .iconButton {
	width: 60vw;
}

.personCourses .iconButton {
	width: 27vw;
	height: 4.5vh;
	padding: 0.5vh;
}
.personLectureRooms .iconButton {
	width: 27vw;
	height: 4.5vh;
	padding: 0.5vh;
}
.personBottomPanel .iconButton{
	width: 50vw;
}
.iconButton, .personShowExtraInfosBtn {
	position: absolute;
	background: #aeb4b8;
	border: solid 1px #ffffff;
	height: 5vh;
	font-size: 2vh;
	padding: 1vh 0px;
	line-height: 3vh;
	overflow: hidden;
}
.personShowExtraInfosBtn {
	left: 50vw;
	width: 37vw;
}
.iconIconButton {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 3vh;
	height: 3vh;
	background: #e2001a;
	border:none;
	padding: 1vh;
}

.personDetailPicture {
	position:absolute !important;
	top: 6vh;
	left:1vw;
	width:25vw;
	height:18vh;
	background:#858f95;
}

.navigationPicture, .poiNavigationImg {
	position:absolute !important;
	top: 53vh;
	left: 7.5vw;
	width: 85vw;
	height:34vh;
	background:#858f95;
}

.poiNavigationImg {
	top: 53vh;
}

.logo {
	position:absolute !important;
	top: 9vh;
	left: 27vw;
	width:45vw;
	height:17vh;
}

