/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  padding: 0;
margin: 0;
font-size: 5.25vh;
line-height: 6.25vh;
text-align: center;
position: absolute;
top: 0;
left: 20vw;
width: 60vw;
text-shadow: 0 0 0.1vh #000000;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
